@import "tailwindcss";

@theme {
  /* Fuente Inter (inyectada con next/font/local en layout.tsx) */
  --font-sans: var(--font-satoshi), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji";

  --color-background: #faf8f5;
  --color-title: #2d2a24;
  --color-description: #6b665c;

  --color-bgNav: #faf8f5;

  --color-foreground: #1e1e2f;
  --color-mutedfg: #5c5c72;

  --color-brand: #9b6bff; 
  --color-accent: #fb90a7; 
  --color-muted: #ede9f7; 
}
